* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(146, 224, 255);
    background: rgb(7,0,129);
    background: linear-gradient(0deg, rgba(7,0,129,1) 0%, rgba(41,95,238,1) 7%, rgba(70,157,255,1) 14%, rgba(92,202,255,1) 23%, rgba(0,212,255,1) 100%);
}