#arrows {
    cursor: pointer;
    animation: arrow 1s ease-in-out infinite;
}

@keyframes arrow {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes popout {
    0% {
        width: 0;
        height: 0;
        opacity: 0;
    }
    100% {
        width: 60vw;
        height: 70vh;
        opacity: 1;
    }
}

@keyframes popout_appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#fan_right {
    animation: fans 4s linear infinite;
    transform-origin: 51% 67%;
    transform-box: fill-box;
}

#fan_left {
    animation: fans 4s linear infinite;
    transform-origin: 51% 67%;
    transform-box: fill-box;
}

#light1 {
    animation: light 1s infinite;
}

#light2 {
    animation: light 1s infinite;
    animation-delay: 0.5s;
}

#light3 {
    animation: light 1s infinite;
}

#light4 {
    animation: light 1s infinite;
    animation-delay: 0.5s;
}

$time: 1s;


#Group_69 {
    animation: wtf $time ease infinite;
}

#Group_70 {
    animation: wtf $time ease infinite;
    animation-delay: 0.2s;
}

#Group_71 {
    animation: wtf $time ease infinite;
    animation-delay: 0.4s;
}

#Group_72 {
    animation: wtf $time ease infinite;
}

@keyframes wtf {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-3px);
    }

    100% {
        transform: translateY(0px);
    }
}


#Vector_1035 {
    animation: labLight 3s infinite ease;
}

@keyframes labLight {
    0% {
        fill: #B69C57;
    }

    30% {
        fill: #f0d794;
    }

    50% {
        fill: #B69C57;
    }

    70% {
        fill: #f0d794;
    }

    100% {
        fill: #B69C57;
    }
}

@keyframes light{
    0% {
        fill: #A8CD8D;
    }

    50% {
        fill: #e1ffcc;
    }

    100% {
        fill: #A8CD8D;
    }
}

@keyframes fans {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

.close:hover {
    transform: scale(1.2);
}

#particles {
    animation: arrow 2s ease-in-out infinite;
}

.popout_text {
    animation: popout_appear 1s ease-in-out;
}

.popout_image {
    animation: popout_appear 2s ease-in-out;
}

@keyframes pulse_symbol {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}