@import './anim.scss';

.island-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100%;
    position: absolute;
    top: 10%;
}

.island {
    width: 100%;
    height: 90%;
}

#popout {   
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 80vh;
    background-color: white;
    background-color: #d9ece2;
    color: rgb(37, 37, 37);
    outline: 4px rgb(0, 154, 165) solid;
    animation: popout 0.5s ease-in-out;
    z-index: 5;
}

.close {
    float: right;
    cursor: pointer;
    transition: 500ms;
}

.popout_title {
    width: 100%;
    text-align: center;
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.container-text {
    width: 90%;
    margin: auto;
}

.popout_text {
    display: inline;
    width: 40%;
    margin-left: 0;
    font-size: 1.1em;
    text-align: justify;
    font-weight: 300;
}

.popout_image {
    width: 10%;
    height: 10%;
    margin-right: 10px;

    img {
        width: auto;
        margin: auto;
    }
}

.left {
    float: left;
}
.right {
    float: right;
}

.footer {
    position: absolute;
    bottom: 1%;
    right: 1%;
    color: #444;
}